<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="col-9 carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.ibb.co/4FFSZYQ/car-03.png" width="50%" class="rounded mx-auto d-block" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/KVmTqPw/web3.png" width="50%" class="rounded mx-auto d-block" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/gMqHyY5/car-Mesa-de-trabajo-1.png" width="50%" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/QkRgXMh/car-04.png" width="50%" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/gm6NLZ1/car-05.png" width="50%" class="rounded mx-auto d-block" alt="...">
      </div>
    </div>
  </div>
<br><br><br><br>