<br><br>
<div class="container">

</div>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="somos"> </div>
        <div align="middle">
          <h2>QUIENES SOMOS</h2><img src="https://i.ibb.co/3hV6m8P/web7.png" width="100%">
        </div>
      </div>
      <div class="col-md-8">
        <h5><p>Trabajamos en la apariencia, el diseño y el contenido de su sitio web.
          La apariencia, por ejemplo, se relaciona con los colores, la fuente y las imágenes utilizadas.
          El diseño se refiere a cómo se estructura y categoriza la información. Un buen diseño web
          es fácil de usar, estéticamente agradable y se adapta al grupo de usuarios y la marca del sitio web. </p>

        <p>Muchas páginas web están diseñadas con un enfoque en la simplicidad, de modo que no aparezca
          información y funcionalidades extrañas que puedan distraer o confundir a los usuarios.
          Como la piedra angular de la producción de un diseñador web es un sitio que gana y fomenta
          la confianza de la audiencia objetivo, eliminar tantos puntos potenciales de frustración
          del usuario como sea posible es una consideración crítica.</p></h5>
        <p></p>
      </div>
    </div>
  </div>
<br><br>
