<div class="container">
  <div class="row">
    <div id="galeria"> </div>
    <div align="middle">
      <H2>GALERÍA</H2>
      <br><br>
    </div>
    <div class="col-md-3">
      <img src="https://i.ibb.co/Pmng2VD/Web-design-Production-and-maintenance-of-websites-Web-graphic-interface-design-responsive-website-So.jpg" width="70%" align="middle" alt="">
    </div>
    <div class="col-md-3">
      <img src="https://i.ibb.co/P5f9cH3/Website-development-layout-sketch-drawing.jpg" width="100%" alt="">
    </div>
    <div class="col-md-3">
      <img src="https://i.ibb.co/3hV6m8P/web7.png" width="100%" alt="">
    </div>
    <div class="col-md-3">
      <img src="https://i.ibb.co/WD8VnQG/Product-Design-Drawing-Website-Graphic.jpg" width="100%" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://i.ibb.co/hsY0MBd/Concentrated-african-female-web-designer-using-graphics-tablet-while-her-colleagues-writing-reports.jpg" width="100%" alt="">
    </div>
    <div class="col-md-3">
      <img src="https://i.ibb.co/c18L6pJ/web8.png" width="100%" alt="">
    </div>
    <div class="col-md-3">
      <img src="https://i.ibb.co/svv0QHw/web9.png" width="100%" alt="">
    </div>
    <div class="col-md-3">
      <img src="https://i.ibb.co/SJyZwmP/web4.png" width="100%" alt="">
    </div>
  </div>
</div>
<br><br><br>