<div id="char"> </div>
  <div align="center"><h2>CARACTERÍSTICAS</h2></div>
  <div class="container">
    <div class="row">
      
      <div class="col-md-4">
        <div align="center">
          <br><br><h5><p>1. Compatibilidad móvil</p>
          <p>2. Accesible para todos los usuarios</p>
          <p>3. Arquitectura de la información bien planificada</p>
          <p>4. Contenido bien formateado que es fácil de escanear</p>
          <p>5. Tiempos de carga rápidos</p>
          <p>6. Coherencia del navegador</p>
          <p>7. Navegación eficaz</p>
          <p>8. Buen manejo de errores</p>
          <p>9. Código de limpieza y marcado válido</p>
          <p>10. Esquema de colores contrastantes</p></h5>
          
        </div>
      </div>
      <div class="col-md-8">
        <div align="middle">
          <img src="https://i.ibb.co/3mRsLwp/web6.png" width="80%">
        </div>
      </div>
    </div>
  </div>
<br><br><br>